---
import Layout from "./../layouts/Layout.astro";
import Hero from "./../components/Hero.astro";
import Banner from "./../components/Banner.astro";
import QR from "../components/QR.astro";
---

<Layout>
  <Hero />
  <main
    class="flex flex-col px-6 lg:px-0 lg:flex-row lg:justify-between lg:items-center"
  >
    <Banner />
    <!-- <QR /> -->
  </main>
</Layout>
