---
import Android from "./icons/Android.astro";
---

<div
  class="h-12 w-auto max-w-max flex gap-2 items-center rounded-xl relative overflow-hidden"
>
  <Android class="size-10" />
  <span class="max-w-[120px] text-xs leading-[4px]"
    >Disponible para
    <span class="text-xl font-semibold">Android</span>
  </span>
</div>
