<aside class="hidden xsm:block">
  <div
    class="xs:self-end self-center lg:self-center xsm:size-40 sm:size-52 md:size-56 lg:size-72 xl:size-96 bg-valentines-day-100 rounded-full grid place-content-center animate-float animate-iteration-count-infinite xsm:absolute xsm:-bottom-36 xsm:-right-3 sm:-right-10 sm:-bottom-40 md:-bottom-44 md:-right-24 lg:relative lg:-right-0 lg:-bottom-0"
  >
    <img
      src="/qr-code.svg"
      alt="Liebe Verbindet QR Code"
      class="xsm:size-32 sm:size-44 md:size-48 lg:size-64 xl:size-80"
    />
    <div></div>
    <aside></aside>
  </div>
</aside>
