---
import Resource from "./icons/Resource.astro";
---

<a
  href="https://drive.google.com/drive/folders/1LuvvvcajRhSjPWKL1k-s44GVCeHDzQwE?usp=drive_link"
  target="_blank"
  rel="noopener noreferrer"
  class="w-full h-11 overflow-hidden rounded-full focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50 xsm:hidden"
>
  <span
    class="inline-flex gap-2 h-full w-full
    rounded-full cursor-pointer bg-[#d90429]/[0.15] items-center justify-center text-sm font-bold px-8 py-3 text-dark"
  >
    <Resource class="size-6 fill-none stroke-dark" />
    Obtener Recursos
  </span>
</a>
