---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<span
  class="animate-text-gradient bg-gradient-to-r from-[#FC5571] via-[#FB1E43] to-[#d90429] bg-[200%_auto] bg-clip-text font-bold text-transparent"
>
  {text}
</span>
