---
import "@fontsource-variable/outfit";
interface Props {
  description: string;
  title: string;
  urlImage: string;
}

const { description, title, urlImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content={urlImage} />
    <meta name="robots" content="index, follow" />
    <title>
      {title}
    </title>
  </head>
  <body class="relative">
    <div
      class="flex flex-col px-6 gap-6 justify-center min-h-dvh mx-auto sm:max-w-xl lg:max-w-5xl xl:max-w-6xl"
    >
      <slot />
    </div>
    <div
      class="absolute top-0 -z-10 h-full w-full rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]"
    >
    </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;

    body {
      font-family: "Outfit Variable", sans-serif;
      color: #242422;
    }
  }
</style>
